@font-face {
	font-family: myFont;
	src: url(SpaceGrotesk.ttf);
}

.App {
	background-image: url(background.avif);
	background-size: cover;

	/* layout */
	display: flex;
	flex-direction: column;
	min-height: 100vh;

	/* font */
	font-family: myFont;
	text-align: center;
}

html {
	scroll-behavior: smooth;
	scroll-padding-top: 175px;
}
